body{font-family:Calibri, Segoe, 'Segoe UI', sans-serif;font-size:14px;text-align: center;display:table-cell;vertical-align:middle;}


fieldset {
      border: 3px solid #f1f1f1;
}

form {
    display: table;
    text-align: left;
    margin:auto;
}

.container {
    padding: 16px;
}

.buttonGreen {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border:1px solid #4CAF50;
}

.buttonGreen:hover {
  background-color: white;
  color:  #4CAF50;
  border:1px solid #4CAF50;
}

.buttonRed {
    background-color: #f44336;
    cursor: pointer;
    color: white;
    border:1px solid #f44336;
}

.buttonRed:hover {
  background-color: white;
  color: #f44336;
  border:1px solid #f44336;
}

input[type=text], input[type=password] {
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

span.password {
    float: right;
}
