body{font-family:Calibri, Segoe, 'Segoe UI', sans-serif;font-size:14px;text-align: center;}

form {
    border: 3px solid #f1f1f1;
    display: inline-block;
    text-align: left;
    position:absolute;
    top:50%;
    left:50%;
}

.container {
    padding: 16px;
}

.buttonGreen {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    width: 100%;
    border:1px solid #4CAF50;
}

.buttonGreen:hover {
  background-color: white;
  color:  #4CAF50;
  border:1px solid #4CAF50;
}

.buttonRed {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    border:1px solid #f44336;
}

.buttonRed:hover {
  color: #f44336;
  border:1px solid #f44336;
}
